<loading-cover
	data-ng-if="!isDataPrepared">
</loading-cover>
<div
	class="main"
	data-ng-if="isDataPrepared">
	<markers></markers>
	<div
		class="roof-container sticky"
		data-offset="0"
		data-condition="model.currentView === 'fields'">
		<div class="roof">
			<div class="header-container">
				<div class="header">
					<span class="goal">Голы</span> и
					<span class="big-chance">явные голевые моменты</span>
					чемпионатов Европы</div>
			</div>
			<!--
			<div class="seasons-switch-container inline">
				<seasons-switch
					data-seasons="seasons">
				</seasons-switch>
			</div>
			<br class="clear-both" />
			-->
			<div class="leagues-switch-container inline">
				<leagues-switch
					data-leagues="model.activeLeagues">
				</leagues-switch>
			</div>
			<div class="view-switch-container inline">
				<view-switch
					data-view="model.currentView"
					data-shown-types="model.shownTypes">
				</view-switch>
			</div>
			<br class="clear-both" />
			<div class="date-slider-container">
				<date-slider
					data-all-dates="allDates"
					data-match-dates="matchDates"
					data-start-date="allDates[0]"
					data-left-date="model.leftDate"
	        data-right-date="model.rightDate"
					data-month-names="monthNames">
				</date-slider>
			</div>
		</div>
	</div>
	<div data-ng-if="model.currentView === 'field-table'">
		<div
			class="field-container sticky"
			data-offset="0"
			data-condition="true">
	    <img
	      class="team-logo"
	      data-ng-if="model.selectedTeam.league && model.selectedTeam.name"
	      data-ng-src="../img/teams/{{model.selectedTeam.league}}/{{model.selectedTeam.name}}.png">
			<div class="legend-container">
				<legend
					data-ng-if="model.selectedTeam.league && model.selectedTeam.name"
					data-shown-types="model.shownTypes"
					data-team="model.selectedTeam"
					data-lines-data="leaguesData[model.selectedTeam.league][model.selectedTeam.name].Lines"
					data-left-date="model.leftDate"
	        data-right-date="model.rightDate">
				</legend>
			</div>
		  <div class="svg-field-container inline">
				<field
					data-league-data="leaguesData[model.selectedTeam.league]"
					data-team="model.selectedTeam"
					data-left-date="model.leftDate"
	        data-right-date="model.rightDate"
					data-shown-types="model.shownTypes"
					data-month-names="monthNames"
					data-type="big">
				</field>
		  </div>
		</div>
		<div class="tables-header-container">
			<tables-header
				data-sort-by="model.sortBy"
				data-sorting-order="model.sortingOrder">
			</tables-header>
		</div>
		<div class="tables-container">
			<league-table
				data-ng-repeat="league in leagues track by $index"
				data-ng-if="model.activeLeagues[league]"
				data-league="league"
				data-league-data="leaguesData[league]"
				data-left-date="model.leftDate"
				data-right-date="model.rightDate"
				data-sort-by="model.sortBy"
				data-sorting-order="model.sortingOrder"
				data-selected-team="model.selectedTeam">
			</league-table>
			<datalab-footer></datalab-footer>
		</div>
	</div>
	<div
		class="small-multiples-container"
		data-ng-if="model.currentView === 'fields'">
		<small-multiples
			data-active-leagues="model.activeLeagues"
			data-leagues-data="leaguesData"
			data-left-date="model.leftDate"
			data-right-date="model.rightDate"
			data-shown-types="model.shownTypes">
		</small-multiples>
		<datalab-footer></datalab-footer>
	</div>
</div>
