<div class="main">
	<div class="roof">
		<div class="header-container">
			<div class="header"><span class="goal">Голы</span> и <span class="big-chance">явные голевые моменты</span> главных чемпионатов Европы</div>
		</div>
		<div class="leagues-switch-container inline">
			<leagues-switch
				data-leagues="leagues">
			</leagues-switch>
		</div>
		<div class="arrow-container inline">
			<img src="../img/accessories/arrow.png">
		</div>
		<div class="view-switch-container inline">
			<view-switch
				data-view="view">
			</view-switch>
		</div>
		<br class="clear-both" />
		<div class="date-slider-container">
			<date-slider
				data-ng-if="isDataPrepared"
				data-match-dates="matchDates"
				data-all-dates="allDates"
				data-start-date="startDate"
				data-end-date="endDate"
				data-current-date="currentDate"
				data-date-format="dateFormat">
			</date-slider>
		</div>
	</div>
	<div class="field">
		<img src="../img/fields/big.png">
	</div>
	<div class="table-header-container">
		<table-header></table-header>
	</div>
	<div class="tables"></div>
	<div class="floor"></div>
</div>
