<div class="datalab-footer">
  <div class="typical-info">
    <div class="viz-caption">Визуализация <a class="common-link" href="http://www.datalaboratory.ru/" target="_blank"><span class="datalab-caption">Лаборатории данных</span></a></div>
    <div class="likely">
      <div class="twitter">Твитнуть</div>
      <div class="facebook">Поделиться</div>
      <div class="vkontakte">Поделиться</div>
      <div class="pinterest" data-media="http://big-chances.datalaboratory.ru/img/social/i.png">Запинить</div>
    </div>
  </div>
  <div class="additional-info">
    Идея анализа явных голевых моментов принадлежит <a class="common-link" href="http://www.sports.ru/tribuna/blogs/vadimlukomski/684106.html" target="_blank">Вадиму Лукомскому</a>.<br>
    Данные компании <a class="common-link" href="http://www.optasports.com/" target="_blank">Opta</a> публикуют сайты <a class="common-link" href="http://www.fourfourtwo.com/" target="_blank">Four Four Two</a> и <a class="common-link" href="http://www.whoscored.com/" target="_blank">Who Scored</a>.<br>
    <span data-ng-if="season === '2014-2015'">Для Бундеслиги, Серии А и Лиги 1 данных о явных голевых моментах и ситуации на поле пока нет. Хотите помочь собрать данные &mdash; пишите на <a class="common-link" href="mailto:data@datalaboratory.ru?subject=Сбор данных для футбольной визуализации" target="_top">data@datalaboratory.ru</a>.</span>
    <span data-ng-if="season === '2015-2016'">Для РФПЛ данных о ситуации на поле нет.</span>
  </div>
</div>
