<div class="datalab-footer">
  <div class="typical-info">
    <div class="viz-caption">Визуализация <a class="common-link" href="http://www.datalaboratory.ru/" target="_blank"><span class="datalab-caption">Лаборатории данных</span></a></div>
    <div class="likely">
      <div class="twitter">Твитнуть</div>
      <div class="facebook">Поделиться</div>
      <div class="vkontakte">Поделиться</div>
      <div class="pinterest" data-media="http://big-chances.datalaboratory.ru/img/social/i.png">Запинить</div>
    </div>
  </div>
  <div class="additional-info">Данные компании <a class="common-link" href="http://www.optasports.com/" target="_blank">Opta</a>, опубликованные в журнале <a class="common-link" href="http://www.fourfourtwo.com/" target="_blank">FourFourTwo</a><br>Идея анализа явных голевых моментов принадлежит <a class="common-link" href="http://www.sports.ru/tribuna/blogs/vadimlukomski/684106.html" target="_blank">Вадиму Лукомскому</a><br>Полные данные собраны только для Премьер-лиги и Ла Лиги. Остальное — стандратные турнирные таблицы</div>
</div>
