<div class="date-slider">
	<div class="captions">
		<div
			class="caption"
			data-ng-repeat="date in allDates track by $index"
			data-ng-if="getCaptionText(date, !$index)"
			data-ng-class="{'hidden': isCaptionHidden(date)}"
			data-ng-style="{'transform': 'translateX(' + getDateX(date) + 'px)'}">{{getCaptionText(date, !$index)}}</div>
		<div
			class="handle-date-caption"
			data-ng-style="{'transform': 'translateX(' + leftX + 'px)'}">{{getCurrentDay('left')}}</div>
		<div
			class="handle-date-caption"
			data-ng-style="{'transform': 'translateX(' + rightX + 'px)'}">{{getCurrentDay('right')}}</div>
		<br class="clear-both" />
	</div>
	<div class="track">
		<div
			class="fill"
			data-ng-style="{'transform': 'translateX(' + leftX + 'px)', 'width': (rightX - leftX) + 'px'}"></div>
		<div class="ticks">
			<div
				class="tick"
				data-ng-repeat="date in matchDates track by $index"
				data-ng-style="{'transform': 'translateX(' + getDateX(date) + 'px)'}"></div>
		</div>
	</div>
	<div
		class="left-handle"
		data-ng-style="{'transform': 'translateX(' + (leftX - handleShift) + 'px)'}"></div>
	<div
		class="right-handle"
		data-ng-style="{'transform': 'translateX(' + rightX + 'px)'}"></div>
</div>
