<div class="date-slider">
	<div class="captions">
		<div
			class="caption"
			data-ng-repeat="date in allDates track by $index"
			data-ng-if="getCaptionText(date, !$index)"
			data-ng-style="{'transform': 'translateX(' + getDateX(date) + 'px)'}">{{getCaptionText(date, !$index)}}</div>
		<div
			class="current-date-caption"
			data-ng-style="{'transform': 'translateX(' + (currentX - currentDateCaptionShift) + 'px)'}">{{getCurrentDay()}}</div>
		<br class="clear-both" />
	</div>
	<div class="track">
		<div
			class="fill"
			data-ng-style="{'width': currentX + 'px'}"></div>
		<div class="ticks">
			<div
				class="tick"
				data-ng-repeat="date in matchDates track by $index"
				data-ng-style="{'transform': 'translateX(' + getDateX(date) + 'px)'}"></div>
		</div>
	</div>
	<div
		class="handle"
		data-ng-style="{'transform': 'translateX(' + (currentX - handleShift) + 'px)'}"></div>
</div>
