<svg
  class="field"
  data-ng-class="{'big': type === 'big', 'small': type === 'small'}">
  <defs>
    <marker class="big-chance" id="saved" markerWidth="12" markerHeight="12" refX="7" refY="7" orient="auto">
      <circle cx="7" cy="7" r="4" style="fill: #fff; stroke-width: 1"></circle>
    </marker>
    <marker class="big-chance" id="blocked" markerWidth="3" markerHeight="12" refX="1" refY="6" orient="auto">
      <path d="M1,0 L1,12" style="stroke-width: 1"></line>
    </marker>
    <marker class="goal" id="common-goal" markerWidth="18" markerHeight="18" refX="2" refY="9" orient="auto">
      <path d="M2,2 L2,16 L16,9 L2,2" style="stroke: none"></path>
    </marker>
    <marker class="big-chance" id="common-big-chance" markerWidth="18" markerHeight="18" refX="2" refY="9" orient="auto">
      <path d="M2,2 L2,16 L16,9 L2,2" style="stroke: none"></path>
    </marker>
    <marker class="goal" id="accidental-goal" markerWidth="18" markerHeight="18" refX="3" refY="9" orient="auto">
      <path d="M3,3 L3,15 L15,9 L3,3" style="fill: none; stroke-width: 1"></path>
    </marker>
  </defs>
  <g class="content">
    <image
      data-ng-attr-xlink:href="{{'../img/fields/' + type + '.png'}}"
      xlink:href="">
    </image>
    <g class="lines">
      <line
        class="goal against"
        data-ng-attr-x1="{{getX(330.08)}}"
        data-ng-attr-y1="{{getY(255.2)}}"
        data-ng-attr-x2="{{getX(354)}}"
        data-ng-attr-y2="{{getY(158.907)}}"
        marker-end="url(#accidental-goal)">
      </line>
      <line
        class="goal for past"
        data-ng-attr-x1="{{getX(330.08)}}"
        data-ng-attr-y1="{{getY(255.2)}}"
        data-ng-attr-x2="{{getX(354)}}"
        data-ng-attr-y2="{{getY(158.907)}}"
        marker-end="url(#common-goal)">
      </line>
    </g>
  </g>
</svg>
