<div class="leagues-switch">
	<div
		class="button left-button inline premier-league"
		data-ng-click="buttonOnClick('premierLeague')"
		data-ng-class="{'active': isButtonActive('premierLeague')}">Премьер-лига<img src="../img/leagues/en.png"><img src="../img/leagues/wl.png"></div>
	<div
		class="button central-button inline la-liga"
		data-ng-click="buttonOnClick('laLiga')"
		data-ng-class="{'active': isButtonActive('laLiga')}">Ла Лига<img src="../img/leagues/es.png"></div>
	<div
		class="button central-button inline bundesliga"
		data-ng-click="buttonOnClick('bundesliga')"
		data-ng-class="{'active': isButtonActive('bundesliga')}">Бундеслига<img src="../img/leagues/de.png"></div>
	<div
		class="button central-button inline serie-a"
		data-ng-click="buttonOnClick('serieA')"
		data-ng-class="{'active': isButtonActive('serieA')}">Серия А<img src="../img/leagues/it.png"></div>
	<div
		class="button right-button inline ligue-one"
		data-ng-click="buttonOnClick('ligueOne')"
		data-ng-class="{'active': isButtonActive('ligueOne')}">Лига 1<img src="../img/leagues/fr.png"><img src="../img/leagues/mc.png"></div>
	<br class="clear-both" />
</div>