<td class="num numerical">{{index}}</td>
<td class="logo"><img data-ng-src="../img/teams/{{league}}/{{team}}.png"></td>
<td class="name textual">{{rus}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.m}">{{teamValues.m}}</td>
<td class="buffer"></td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.cf}">{{teamValues.cf < 0 ? '' : teamValues.cf}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.gf}">{{teamValues.gf}}</td>
<td class="buffer hidden-value">
  <div class="minus">{{teamValues.cf < 0 ? '' : '−'}}</div>
  <div class="difference">{{teamValues.cf < 0 ? '' : '= ' + (teamValues.cf - teamValues.gf | goodMinus)}}</div>
</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.ca}">{{teamValues.ca < 0 ? '' : teamValues.ca}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.ga}">{{teamValues.ga}}</td>
<td class="buffer hidden-value">
  <div class="minus">{{teamValues.ca < 0 ? '' : '−'}}</div>
  <div class="difference">{{teamValues.ca < 0 ? '' : '= ' + (teamValues.ca - teamValues.ga | goodMinus)}}</div>
</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.cw}">{{teamValues.cw < 0 ? '' : teamValues.cw}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.cd}">{{teamValues.cd < 0 ? '' : teamValues.cd}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.cl}">{{teamValues.cl < 0 ? '' : teamValues.cl}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.cp}">{{teamValues.cp < 0 ? '' : teamValues.cp}}</td>
<td class="buffer"></td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.gw}">{{teamValues.gw}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.gd}">{{teamValues.gd}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.gl}">{{teamValues.gl}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.gp}">{{teamValues.gp}}</td>
<td class="buffer hidden-value">
  <div class="points-difference">{{teamValues.cp < 0 ? '' : '− ' + teamValues.cp + ' = ' + (teamValues.gp - teamValues.cp | goodMinus)}}</div>
</td>
<td class="buffer"></td>
