<td class="num numerical">{{index}}</td>
<td class="logo"><img data-ng-src="../img/teams/{{league}}/{{team}}.png"></td>
<td class="name textual">{{rus}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.M}">{{teamValues.M}}</td>
<td class="buffer"></td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.CF}">{{teamValues.CF < 0 ? '' : teamValues.CF}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.GF}">{{teamValues.GF}}</td>
<td class="buffer hidden-value">
  <div class="minus">{{teamValues.CF < 0 ? '' : '−'}}</div>
  <div class="difference">{{teamValues.CF < 0 ? '' : '= ' + (teamValues.CF - teamValues.GF | goodMinus)}}</div>
</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.CA}">{{teamValues.CA < 0 ? '' : teamValues.CA}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.GA}">{{teamValues.GA}}</td>
<td class="buffer hidden-value">
  <div class="minus">{{teamValues.CA < 0 ? '' : '−'}}</div>
  <div class="difference">{{teamValues.CA < 0 ? '' : '= ' + (teamValues.CA - teamValues.GA | goodMinus)}}</div>
</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.CW}">{{teamValues.CW < 0 ? '' : teamValues.CW}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.CD}">{{teamValues.CD < 0 ? '' : teamValues.CD}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.CL}">{{teamValues.CL < 0 ? '' : teamValues.CL}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.CP}">{{teamValues.CP < 0 ? '' : teamValues.CP}}</td>
<td class="buffer"></td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.GW}">{{teamValues.GW}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.GD}">{{teamValues.GD}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.GL}">{{teamValues.GL}}</td>
<td
  class="value numerical"
  data-ng-class="{'nil': !teamValues.GP}">{{teamValues.GP}}</td>
<td class="buffer hidden-value">
  <div class="points-difference">{{teamValues.CP < 0 ? '' : '− ' + teamValues.CP + ' = ' + (teamValues.GP - teamValues.CP | goodMinus)}}</div>
</td>
<td class="buffer"></td>
