<div
	class="league-table"
	data-ng-class="{'premier-league': league === 'premierLeague', 'la-liga': league === 'laLiga', 'bundesliga': league === 'bundesliga', 'serie-a': league === 'serieA', 'ligue-one': league === 'ligueOne'}">
	<table class="common-table">
		<tbody>
			<tr
				class="league-table-row"
				data-ng-repeat="(key, value) in leagueData | toArray | orderBy : (sortBy === 'cf' ? [getCF, (sortingOrder ? '-RUS' : 'RUS')] : sortBy === 'gf' ? [getGF, (sortingOrder ? '-RUS' : 'RUS')] : sortBy === 'ca' ? [getCA, (sortingOrder ? '-RUS' : 'RUS')] : sortBy === 'ga' ? [getGA, (sortingOrder ? '-RUS' : 'RUS')] : sortBy === 'cp' ? [getCP, getCDiff, getCW, (sortingOrder ? '-RUS' : 'RUS')] : [getGP, getGDiff, getGW, (sortingOrder ? '-RUS' : 'RUS')]) : sortingOrder"
				data-index="$index + 1"
				data-league="league"
				data-team="value.$key"
				data-team-values="teamValues[value.$key]"
				data-rus="value.RUS"
				data-ng-click="rowOnClick(value.$key)"
				data-ng-class="{'active': value.$key === selectedTeam}">
			</tr>
		</tbody>
	</table>
</div>
