<div class="legend">
  <div class="legend-item">
    <svg class="line-sample">
      <line class="goal" x1="0" y1="9" x2="50" y2="9" marker-end="url(#common-goal)"></line>
    </svg>
    <div class="line-caption">Гол из явного голевого момента</div>
  </div>
  <div class="legend-item">
    <svg class="line-sample">
      <line class="goal" x1="0" y1="9" x2="50" y2="9" marker-end="url(#accidental-goal)"></line>
    </svg>
    <div class="line-caption">Гол без момента</div>
  </div>
  <div class="legend-item">
    <svg class="line-sample">
      <line class="big-chance" x1="0" y1="9" x2="50" y2="9" marker-end="url(#common-big-chance)"></line>
    </svg>
    <div class="line-caption">Промах</div>
  </div>
  <div class="legend-item">
    <svg class="line-sample">
      <line class="big-chance" x1="0" y1="9" x2="50" y2="9" marker-end="url(#blocked)"></line>
    </svg>
    <div class="line-caption">Блок</div>
  </div>
  <div class="legend-item">
    <svg class="line-sample">
      <line class="big-chance" x1="0" y1="9" x2="50" y2="9" marker-end="url(#saved)"></line>
    </svg>
    <div class="line-caption">Сейв</div>
  </div>
</div>
