<svg class="markers">
  <defs>
  	<marker class="big-chance" id="saved" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
  		<circle cx="5" cy="5" r="3" style="fill: #fff; stroke-width: 1"></circle>
  	</marker>
  	<marker class="big-chance" id="blocked" markerWidth="3" markerHeight="10" refX="1" refY="5" orient="auto">
  		<path d="M1,0 L1,10" style="stroke-width: 1"></line>
  	</marker>
  	<marker class="goal" id="common-goal" markerWidth="12" markerHeight="12" refX="6" refY="6" orient="auto">
  		<path d="M2,2 L2,10 L10,6 L2,2" style="stroke: none"></path>
  	</marker>
  	<marker class="big-chance" id="common-big-chance" markerWidth="12" markerHeight="12" refX="6" refY="6" orient="auto">
  		<path d="M2,2 L2,10 L10,6 L2,2" style="stroke: none"></path>
  	</marker>
  	<marker class="goal" id="accidental-goal" markerWidth="12" markerHeight="12" refX="6" refY="6" orient="auto">
  		<path d="M3,3 L3,9 L9,6 L3,3" style="fill: #fff; stroke-width: 1"></path>
  	</marker>
  </defs>
</svg>
