<div class="seasons-switch">
  <div
    data-ng-click="expanded = !expanded">
    <div class="years inline">
      <a data-ng-href="/#/{{season}}">{{season | goodNdash}}</a>
    </div>
    <div
      class="triangle"
      data-ng-hide="expanded">&#9660;</div>
    <div
      class="triangle"
      data-ng-show="expanded">&#9650;</div>
    <br class="clear-both" />
  </div>
  <div
    data-ng-repeat="s in seasons"
    data-ng-if="s !== season"
    data-ng-show="expanded">
    <div class="years">
      <a data-ng-href="/#/{{s}}">{{s | goodNdash}}</a>
    </div>
  </div>
</div>
