<div
  class="small-multiples"
  data-ng-repeat="(league, isActive) in activeLeagues"
  data-ng-if="isActive">
  <div
    class="small-multiple"
    data-ng-repeat="(key, value) in leaguesData[league] | toArray | orderBy : getPoints : true">
    <div
      class="team-number inline"
      data-ng-class="{'premier-league': league === 'premierLeague', 'la-liga': league === 'laLiga', 'bundesliga': league === 'bundesliga', 'serie-a': league === 'serieA', 'ligue-one': league === 'ligueOne', 'rfpl': league === 'rfpl'}">{{$index + 1}}</div>
    <div class="team-name inline">{{value.RUS}}</div>
    <br class="clear-both" />
    <img
      class="team-logo"
      data-ng-src="../img/teams/{{season}}/{{league}}/{{value.$key}}.png">
    <div class="svg-field-container inline">
      <field
        data-league-data="leaguesData[league]"
        data-team="{'name': value.$key, 'league': league}"
        data-left-date="leftDate"
        data-right-date="rightDate"
        data-shown-types="shownTypes"
        data-type="small">
      </field>
    </div>
  </div>
</div>
