<div
	class="tables-header"
	data-ng-class="{'fixed': isFixed}">
	<div class="small-table-caption first">По голам</div>
	<div class="small-table-caption second">По моментам</div>
	<div class="small-table-caption third">По голам</div>
	<table class="common-table">
		<tbody>
			<tr>
				<td class="num"></td>
				<td class="logo"></td>
				<td class="name textual">Команда</td>
				<td class="value">
					<span class="short inline">Сз</span>
					<span class="full inline">Созданные моменты</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">Зб</span>
					<span class="full inline">Забитые голы</span>
					<br class="clear-both" />
				</td>
				<td class="buffer"></td>
				<td class="value">
					<span class="short inline">Дп</span>
					<span class="full inline">Допущенные моменты</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">Пр</span>
					<span class="full inline">Пропущенные голы</span>
					<br class="clear-both" />
				</td>
				<td class="buffer"></td>
				<td class="buffer"></td>
				<td class="value">
					<span class="short inline">М</span>
					<span class="full inline">Матчи</span>
					<br class="clear-both" />
				</td>
				<td class="buffer"></td>
				<td class="value">
					<span class="short inline">В</span>
					<span class="full inline">Выигрыши</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">Н</span>
					<span class="full inline">Ничьи</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">П</span>
					<span class="full inline">Проигрыши</span>
					<br class="clear-both" />
				</td>
				<td class="buffer"></td>
				<td class="value">
					<span class="short inline">В</span>
					<span class="full inline">Выигрыши</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">Н</span>
					<span class="full inline">Ничьи</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">П</span>
					<span class="full inline">Проигрыши</span>
					<br class="clear-both" />
				</td>
				<td class="value">
					<span class="short inline">О</span>
					<span class="full inline">Очки</span>
					<br class="clear-both" />
				</td>
				<td class="buffer"></td>
				<td class="value">
					<span class="short inline">О</span>
					<span class="full inline">Очки</span>
					<br class="clear-both" />
				</td>
				<td class="buffer"></td>
			</tr>
		</tbody>
	</table>
</div>
