<div class="table-header">
	<div class="small-table-caption first">По голам</div>
	<div class="small-table-caption second">По моментам</div>
	<div class="small-table-caption third">По голам</div>
	<table class="teams-table">
		<tbody>
			<tr>
				<td class="num"></td>
				<td class="logo"></td>
				<td class="name textual">Команда</td>
				<td class="cf textual">Сз</td>
				<td class="gf textual">Зб</td>
				<td class="ca textual">Дп</td>
				<td class="ga textual">Пр</td>
				<td class="m textual">М</td>
				<td class="wg textual">В</td>
				<td class="dg textual">Н</td>
				<td class="lg textual">П</td>
				<td class="wc textual">В</td>
				<td class="dc textual">Н</td>
				<td class="lc textual">П</td>
				<td class="pc textual">О</td>
				<td class="pg textual">О</td>
			</tr>
		</tbody>
	</table>
</div>
