<div class="table-header">
	<table class="teams-table">
		<tbody>
			<tr>
				<td class="num"></td>
				<td class="logo"></td>
				<td class="name">Команда</td>
				<td class="cf">Сз</td>
				<td class="gf">Зб</td>
				<td class="ca">Дп</td>
				<td class="ga">Пр</td>
				<td class="m">М</td>
				<td class="wg">В</td>
				<td class="dg">Н</td>
				<td class="lg">П</td>
				<td class="wc">В</td>
				<td class="dc">Н</td>
				<td class="lc">П</td>
				<td class="pc">О</td>
				<td class="pg">О</td>
			</tr>
		</tbody>
	</table>
</div>