@import '../variables';

.main {
	.roof {
		position: fixed;
		padding: 20px 0 0 0;
		background-color: #fff;
		z-index: 1;

		.header-container {
			margin: 0 0 0 60px;
		}

		.header {
			font-family: $helvetica-neue-medium;
			font-size: 27px;

			.goal {
				color: $goal-color;
				cursor: pointer;
			}

			.big-chance {
				color: $big-chance-color;
				cursor: pointer;
			}
		}

		.leagues-switch-container {
			margin: 10px 0 0 45px;
		}

		.arrow-container {
			margin: 0 0 0 10px;

			img {
				width: 33.5px;
				height: 29px;
			}
		}

		.view-switch-container {
			float: right;
			margin: 10px 0 0 0;
		}

		.date-slider-container {
			margin: 15px 0 0 0;
			padding: 0 0 0 60px;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
	}

	.field {
		position: fixed;
		top: 160px;
		width: 100%;
		padding: 20px 0 0 0;
		background-color: #fff;
		line-height: 0;
		z-index: 1;

		img {
			width: 506.5px;
			height: 307px;
			margin: 0 0 0 39px;
		}
	}

	.table-header-container {
		position: fixed;
		top: 487px;
		padding: 20px 0 0 0;
		background-color: #fff;
		z-index: 1;
	}

	.tables {}

	.floor {}

	.button {
		padding: 5px 14px 5px 14px;
		font-family: $helvetica-neue-light;
		font-size: 15px;
		background-color: #fff;
		border-color: $outline-color;
		border-width: 1px;
		border-style: solid;
		cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	}

	.left-button {
		border-right: none;
		border-radius: 5px 0 0 5px;
	}

	.central-button {
		border-right: none;
	}
	
	.right-button {
		border-radius: 0 5px 5px 0;
	}

	.inline {
		float: left;
	}

	.clear-both {
		clear: both;
	}
}