@import '../variables';

.main {
	markers {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
	}

	.roof-container {
		width: 100%;
	}

	.roof {
		display: inline-block;
		height: 150px;
		padding: 20px 0 0 0;

		.header-container {
			padding: 0 0 0 $common-padding-left;

			.header {
				font-family: $helvetica-neue-medium;
				font-size: $header-font-size;

				.goal {
					color: $goal-color;
				}

				.big-chance {
					color: $big-chance-color;
				}
			}
		}

		.leagues-switch-container {
			padding: 10px 0 0 $common-padding-left - 12px;
		}

		.view-switch-container {
			float: right;
			padding: 10px 0 0 0;
		}

		.date-slider-container {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px 0 0 $common-padding-left;
		}
	}

	.field-container {
	  display: block;
	  position: absolute;
		top: 150px + 20px;
	  width: 100%;
		height: 317px;

    img.team-logo {
      position: absolute;
      width: 20px;
      height: 20px;
      top: calc(50% + 5px);
			left: 20px;
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

		.svg-field-container {
			padding: 10px 0 0 $common-padding-left - $big-field-offset;
		}

		.legend-container {
			position: absolute;
      top: calc(50% + 5px);
			right: calc(100% - 965px);
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
      transform: translateY(-50%);
		}
	}

	.tables-header-container {
		display: block;
		position: absolute;
		top: 150px + 20px + 317px;
		padding: 0 0 0 $common-padding-left - $num-td-width - $logo-td-width;
	}

	.tables-container {
		display: block;
		position: absolute;
		top: 150px + 20px + 317px + 55px;
	}

	.small-multiples-container {
		display: block;
		position: absolute;
		top: 150px + 20px;
	}
}
