@import '../variables';

.main {
	.roof {
		display: inline-block;
		height: 150px;
		padding: 20px 0 0 0;

		.header-container {
			padding: 0 0 0 $common-padding-left;

			.header {
				font-family: $helvetica-neue-medium;
				font-size: $header-font-size;

				.goal {
					color: $goal-color;
					cursor: pointer;
				}

				.big-chance {
					color: $big-chance-color;
					cursor: pointer;
				}
			}
		}

		.leagues-switch-container {
			padding: 10px 0 0 $common-padding-left - 15px;
		}

		.arrow-container {
			padding: 0 0 0 10px;

			img {
				width: 33.5px;
				height: 29px;
			}
		}

		.view-switch-container {
			float: right;
			padding: 10px 0 0 0;
		}

		.date-slider-container {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px 0 0 $common-padding-left;
		}
	}

	.field-container {
	  display: block;
	  position: absolute;
		top: 150px + 20px;
	  width: 100%;
		height: 317px;
	  padding: 10px 0 0 0;

    img.team-logo {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
			left: 20px;
      transform: translateY(-50%);
    }

		.svg-field-container {
			margin: 0 0 0 $common-padding-left - $big-field-offset;
			line-height: 0;
		}
	}

	.tables-header-container {
		display: block;
		position: absolute;
		top: 150px + 20px + 317px;
		padding: 0 0 0 $common-padding-left - $num-td-width - $logo-td-width;
	}

	.tables-container {
		display: block;
		position: absolute;
		top: 150px + 20px + 317px + 55px;
	}

	.small-multiples {
		margin: 0 0 30px 0;
		
		.small-multiple {
			display: inline-block;
			position: relative;
			margin: 10px 0 30px 0;

			.team-number {
				margin: 10px 5px 10px $common-padding-left;
				padding: 2px 2px 2px 2px;
				font-family: $helvetica-neue-light;
				font-size: $common-font-size;
				text-align: center;
				border-radius: 3px 3px 3px 3px;
			}

			.team-number.premier-league {
				background-color: $table-premier-league-color;
			}

			.team-number.la-liga {
				background-color: $table-la-liga-color;
			}

			.team-number.bundesliga {
				background-color: $table-bundesliga-color;
			}

			.team-number.serie-a {
				background-color: $table-serie-a-color;
			}

			.team-number.ligue-one {
				background-color: $table-ligue-one-color;
			}

			.team-name {
				margin: 10px 0 10px 0;
				font-family: $helvetica-neue-light;
				font-size: $common-font-size;
			}

			img.team-logo {
				position: absolute;
				width: 20px;
				height: 20px;
				top: calc(50% + 18px);
				left: 35px;
	      transform: translateY(-50%);
			}

			.svg-field-container {
				padding: 0 0 0 $common-padding-left - $small-field-offset;
				line-height: 0;
			}
		}
	}
}
