@import 'variables';

.button {
  padding: 5px 14px 5px 14px;
  font-family: $helvetica-neue-light;
  font-size: 15px;
  background-color: #fff;
  border-width: 1px;
  border-color: $outline-color;
  border-style: solid;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.25s ease-out;
}

.left-button {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.central-button {
  border-right: none;
}

.right-button {
  border-radius: 0 5px 5px 0;
}

.button:hover {
  border-width: 1px;
  border-color: $outline-hover-color;
  border-style: solid;
  color: $button-hover-color;
}

.button:hover + .button {
  border-left: none;
}

.inline {
  float: left;
}

.clear-both {
  clear: both;
}

.common-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: color 0.25s ease-out, border-color 0.25s ease-out;
}

.common-link:hover {
  color: #dc322f;
  border-color: rgba(220, 50, 47, 0.15);
}
