@import 'variables';

.teams-table {
  border-spacing: 0 0;

  td {
    font-family: $helvetica-neue-light;
    font-size: $common-font-size;
    vertical-align: middle;
    padding: 0 0 0 0;
  }

  .textual {
    text-align: left;
  }

  .numerical {
    text-align: right;
  }

  .num {
    width: $numerical-td-width;
  }

  .logo {
    width: 20px;
  }

  .name {
    width: 200px;
  }

  .cf {
    width: $numerical-td-width;
  }

  .gf {
    width: $numerical-td-width;
  }

  .ca {
    width: $numerical-td-width;
    padding: 0 0 0 40px;
  }

  .ga {
    width: $numerical-td-width;
  }

  .m {
    width: $numerical-td-width;
    padding: 0 0 0 80px;
  }

  .wg {
    width: $numerical-td-width;
    padding: 0 0 0 40px;
  }

  .dg {
    width: $numerical-td-width;
  }

  .lg {
    width: $numerical-td-width;
  }

  .wc {
    width: $numerical-td-width;
    padding: 0 0 0 40px;
  }

  .dc {
    width: $numerical-td-width;
  }

  .lc {
    width: $numerical-td-width;
  }

  .pc {
    width: $numerical-td-width;
  }

  .pg {
    width: $numerical-td-width;
    padding: 0 0 0 40px;
  }
}
