$helvetica-neue-light: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$helvetica-neue-medium: 'HelveticaNeueMedium', 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$header-font-size: 27px;
$common-font-size: 15px;
$small-font-size: 12px;

$goal-color: #c03;
$big-chance-color: #65a;

$switch-premier-league-color: #fee;
$switch-la-liga-color: #fec;
$switch-bundesliga-color: #eee;
$switch-serie-a-color: #e7f5ec;
$switch-ligue-one-color: #eef;

$table-premier-league-color: #fee;
$table-la-liga-color: #fff7e0;
$table-bundesliga-color: #eee;
$table-serie-a-color: #eef8f2;
$table-ligue-one-color: #eef;

$outline-color: rgba(187, 194, 194, .5);
$outline-hover-color: rgba(0, 85, 153, .5);
$button-hover-color: #005599;
$view-button-start-color: #e6e8e8;

$slider-fill-color: #f2f3f3;
$slider-tick-color: rgba(170, 178, 178, .5);
$slider-transparent-base-color: rgba(255, 255, 255, .8);

$table-hover-color: #f6f7f7;
$tables-header-full-color: rgba(255, 255, 255, .9);

$common-padding-left: 70px;

$num-td-width: 30px;
$logo-td-width: 30px;
$name-td-width: 200px;
$value-td-width: 32px;
$buffer-td-width: 30px;
