@import '../variables';

.datalab-footer {
  display: block;
  width: 926px - $common-padding-left;
  padding: 15px 0 30px $common-padding-left;
  line-height: 1.5;

  .typical-info {
    font-family: $helvetica-neue-light;
    font-size: $small-font-size;

    .viz-caption {
      display: inline-block;

      .datalab-caption {
        font-family: $garamond-original-italic;
        font-size: $datalab-font-size;
      }
    }

    .likely {
      display: inline-block;
      float: right;
      font-size: $small-font-size;
    }
  }

  .additional-info {
    padding: 20px 0 0 0;
    font-family: $helvetica-neue-light;
    font-size: $small-font-size;
  }
}
