@import '../variables';

.date-slider {
	position: relative;
	display: block;
	width: 100%;

	.captions {
		position: relative;

		.caption {
			position: absolute;
			font-family: $helvetica-neue-light;
			font-size: $common-font-size;
		}

		.caption.hidden {
			display: none;
		}

		.handle-date-caption {
			position: absolute;
			font-family: $helvetica-neue-light;
			font-size: $common-font-size;
			background-color: $slider-transparent-base-color;
		}
	}

	.track {
		position: relative;
		padding: 3px 0 0 0;
		line-height: 9px;

		.fill {
			position: absolute;
			height: 9px;
			background-color: $slider-fill-color;
		}

		.tick {
			position: absolute;
			width: 1px;
			height: 9px;
			background-color: $slider-tick-color;
		}
	}

	.left-handle {
		position: absolute;
		top: 21px;
		width: 10px;
		height: 29px;
		background-image: url(../img/accessories/slider-handle-left.png);
		background-size: 10px 29px;
		cursor: pointer;
	}

	.right-handle {
		position: absolute;
		top: 21px;
		width: 10px;
		height: 29px;
		background-image: url(../img/accessories/slider-handle-right.png);
		background-size: 10px 29px;
		cursor: pointer;
	}
}
