@import '../variables';

.date-slider {
	position: relative;
	display: inline-block;
	width: 100%;

	.captions {
		position: relative;

		.caption {
			position: absolute;
			font-family: $helvetica-neue-light;
			font-size: $common-font-size;
		}

		.current-date-caption {
			position: absolute;
			width: 18px;
			font-family: $helvetica-neue-light;
			font-size: $common-font-size;
			text-align: center;
			background-color: $slider-transparent-base-color;
		}
	}

	.track {
		position: relative;
		padding: 3px 0 0 0;
		line-height: 9px;

		.fill {
			position: absolute;
			height: 9px;
			background-color: $slider-fill-color;
		}

		.tick {
			position: absolute;
			width: 1px;
			height: 9px;
			background-color: $slider-tick-color;
		}
	}

	.handle {
		position: absolute;
		top: 21px;
		width: 18px;
		height: 32px;
		background-image: url(../img/accessories/slider-handle.png);
		background-size: 18px 32px;
		cursor: pointer;
	}
}
