@import '../variables';

.field {
  .line {
    opacity: .7;
    cursor: pointer;
  }

  .main-line {
    stroke-width: .5;
  }

  .background-line {
    stroke-width: 5;
    opacity: 0;
    stroke: white;
  }

  .goal .main-line {
    stroke: $goal-color;
    fill: $goal-color;
  }

  .big-chance .main-line {
    stroke: $big-chance-color;
    fill: $big-chance-color;
  }
}

.field.big {
  width: $big-field-width;
  height: $big-field-height;

  .for {
    -ms-transform: rotate(90deg) translate(0, 0 - $big-field-width);
    -webkit-transform: rotate(90deg) translate(0, 0 - $big-field-width);
    -moz-transform: rotate(90deg) translate(0, 0 - $big-field-width);
    -o-transform: rotate(90deg) translate(0, 0 - $big-field-width);
    transform: rotate(90deg) translate(0, 0 - $big-field-width);
  }

  .against {
    -ms-transform: rotate(90deg) scale(-1, -1) translate(0 - $big-field-height, 0);
    -webkit-transform: rotate(90deg) scale(-1, -1) translate(0 - $big-field-height, 0);
    -moz-transform: rotate(90deg) scale(-1, -1) translate(0 - $big-field-height, 0);
    -o-transform: rotate(90deg) scale(-1, -1) translate(0 - $big-field-height, 0);
    transform: rotate(90deg) scale(-1, -1) translate(0 - $big-field-height, 0);
  }
}

.big-field-image {
  position: absolute;
  top: 10px;
  width: $big-field-width;
  height: $big-field-height;
  pointer-events: none;
}

.field.small {
  width: $small-field-width;
  height: $small-field-height;

  .for {
    -ms-transform: rotate(90deg) translate(0, 0 - $small-field-width);
    -webkit-transform: rotate(90deg) translate(0, 0 - $small-field-width);
    -moz-transform: rotate(90deg) translate(0, 0 - $small-field-width);
    -o-transform: rotate(90deg) translate(0, 0 - $small-field-width);
    transform: rotate(90deg) translate(0, 0 - $small-field-width);
  }

  .against {
    -ms-transform: rotate(90deg) scale(-1, -1) translate(0 - $small-field-height, 0);
    -webkit-transform: rotate(90deg) scale(-1, -1) translate(0 - $small-field-height, 0);
    -moz-transform: rotate(90deg) scale(-1, -1) translate(0 - $small-field-height, 0);
    -o-transform: rotate(90deg) scale(-1, -1) translate(0 - $small-field-height, 0);
    transform: rotate(90deg) scale(-1, -1) translate(0 - $small-field-height, 0);
  }
}

.small-field-image {
  position: absolute;
  top: 38px;
  width: $small-field-width;
  height: $small-field-height;
  pointer-events: none;
}

.tooltip {
  display: block;
  position: fixed;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
  font-family: $helvetica-neue-light;
  font-size: $small-font-size;
}

.tooltip.premier-league {
  background-color: $tooltip-premier-league-color;
}

.tooltip.la-liga {
  background-color: $tooltip-la-liga-color;
}

.tooltip.bundesliga {
  background-color: $tooltip-bundesliga-color;
}

.tooltip.serie-a {
  background-color: $tooltip-serie-a-color;
}

.tooltip.ligue-one {
  background-color: $tooltip-ligue-one-color;
}
