@import '../variables';

.field {
  line {
    stroke-width: .5;
    transition: opacity .25s ease-out;
  }

  .goal {
    stroke: $goal-color;
    fill: $goal-color;
  }

  .big-chance {
    stroke: $big-chance-color;
    fill: $big-chance-color;
  }

  .past {
    opacity: .5;
  }
}

.field.big {
  width: $big-field-width;
  height: $big-field-height;

  .for {
    transform: rotate(90deg) translate(0, 0 - $big-field-width);
  }

  .against {
    transform: rotate(90deg) scale(-1, -1) translate(0 - $big-field-height, 0);
  }
}

.big-field-image {
  position: absolute;
  top: 10px;
  width: $big-field-width;
  height: $big-field-height;
}

.field.small {
  width: $small-field-width;
  height: $small-field-height;

  .for {
    transform: rotate(90deg) translate(0, 0 - $small-field-width);
  }

  .against {
    transform: rotate(90deg) scale(-1, -1) translate(0 - $small-field-height, 0);
  }
}

.small-field-image {
  position: absolute;
  top: 38px;
  width: $small-field-width;
  height: $small-field-height;
}
