@import '../variables';

.league-table-row {
  cursor: pointer;
  transition: background-color 0.1s ease-out;

  .logo {
    line-height: 0;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .nil {
    color: #e6e6e6;
  }

  .value {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 18px 0 0;
  }

  .hidden-value .minus {
    position: absolute;
    width: 9px;
    transform: translate(-48px, -50%);
    text-align: left;
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .hidden-value .difference {
    position: absolute;
    width: 50px;
    transform: translate(-13px, -50%);
    text-align: left;
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .hidden-value .points-difference {
    position: absolute;
    width: 80px;
    transform: translate(-13px, -50%);
    text-align: left;
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }
}

.league-table-row.active {
  .hidden-value * {
    opacity: .7;
  }

  td:first-child {
    border-radius: 3px 0 0 3px;
  }

  td:last-child {
    border-radius: 0 3px 3px 0;
  }
}

.league-table-row:not(.active):hover {
  .hidden-value * {
    opacity: .7;
  }
}

.premier-league {
  .league-table-row.active, .league-table-row:hover {
    background-color: $table-premier-league-color;
  }
}

.la-liga {
  .league-table-row.active, .league-table-row:hover {
    background-color: $table-la-liga-color;
  }
}

.bundesliga {
  .league-table-row.active, .league-table-row:hover {
    background-color: $table-bundesliga-color;
  }
}

.serie-a {
  .league-table-row.active, .league-table-row:hover {
    background-color: $table-serie-a-color;
  }
}

.ligue-one {
  .league-table-row.active, .league-table-row:hover {
    background-color: $table-ligue-one-color;
  }
}
