@import '../variables';

.legend {
  .left-goal {
    position: absolute;
    width: 15px;
    height: 30px;
    top: -40px;
    left: 75px;
    border-top: 1px solid $thin-line-color;
    border-left: 1px solid $thin-line-color;
    border-bottom: 1px solid $thin-line-color;
  }

  .right-goal {
    position: absolute;
    width: 15px;
    height: 30px;
    top: -40px;
    left: 110px;
    border-top: 1px solid $thin-line-color;
    border-right: 1px solid $thin-line-color;
    border-bottom: 1px solid $thin-line-color;
  }

  .generalization {
    position: absolute;
    width: 120px;
    top: 40px;
    left: 230px;
    font-family: $helvetica-neue-light;
    font-size: $common-font-size;
  }

  .brace {
    position: absolute;
    width: 5px;
    height: 89px;
    top: 23px;
    left: 215px;
    border-top: 1px solid $thin-line-color;
    border-right: 1px solid $thin-line-color;
    border-bottom: 1px solid $thin-line-color;
  }

  .legend-item {
    margin: 0 0 5px 0;

    .line-sample {
      width: 50px;
      height: 18px;

      line {
        stroke-width: .5;
      }

      .goal {
        stroke: $goal-color;
        fill: $goal-color;
      }

      .big-chance {
        stroke: $big-chance-color;
        fill: $big-chance-color;
      }
    }

    .line-caption {
      margin: 0 0 0 10px;
      font-family: $helvetica-neue-light;
      font-size: $common-font-size;
      cursor: pointer;
      transition: color 0.25s ease-out;

      .against {
        width: 30px;
        margin: 0 5px 0 0;
        text-align: right;
      }

      .for {
        width: 30px;
        margin: 0 15px 0 0;
        text-align: right;
      }

      .checkbox {
        width: 13px;
        height: 14px;
        margin: 1px 5px 0 0;
      }
    }

    .line-caption.active {
      color: $button-hover-color;
    }
  }
}
