@import '../variables';

.small-multiples {
  margin: 0 0 30px 0;

  .small-multiple {
    display: inline-block;
    position: relative;
    margin: 10px 0 30px 0;

    .team-number {
      margin: 10px 5px 10px $common-padding-left;
      padding: 0 2px 0 2px;
      font-family: $helvetica-neue-light;
      font-size: $common-font-size;
      text-align: center;
      border-radius: 3px 3px 3px 3px;
    }

    .team-number.premier-league {
      background-color: $sm-premier-league-color;
    }

    .team-number.la-liga {
      background-color: $sm-la-liga-color;
    }

    .team-number.bundesliga {
      background-color: $sm-bundesliga-color;
    }

    .team-number.serie-a {
      background-color: $sm-serie-a-color;
    }

    .team-number.ligue-one {
      background-color: $sm-ligue-one-color;
    }

    .team-name {
      margin: 10px 0 10px 0;
      font-family: $helvetica-neue-light;
      font-size: $common-font-size;
    }

    img.team-logo {
      position: absolute;
      width: 20px;
      height: 20px;
      top: calc(50% + 18px);
      left: 35px;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .svg-field-container {
      padding: 0 0 0 $common-padding-left - $small-field-offset;
    }
  }
}
