@import '../variables';

.tables-header {
  display: block;
  position: relative;
  padding: 20px 0 10px 0;
  border-bottom: 1px rgba(0, 0, 0, 0.167) solid;

  .small-table-caption {
    position: absolute;
    top: 5px;
    font-family: $helvetica-neue-light;
    font-size: $small-font-size;
  }

  .small-table-caption.first {
    transform: translateX($num-td-width + $logo-td-width + $name-td-width + $value-td-width * 5 + $buffer-td-width * 3);
  }

  .small-table-caption.second {
    transform: translateX($num-td-width + $logo-td-width + $name-td-width + $value-td-width * 9 + $buffer-td-width * 4);
  }

  .common-table {
    td {
      font-weight: bold;
      cursor: default;
    }
  }

  .full {
    display: none;
    position: absolute;
    padding: 2px 4px 2px 4px;
    background-color: $tables-header-full-color;
    transform: translate(-4px, -2px);
  }

  .value:hover {
    .full {
      display: block;
    }
    .short {
      display: none;
    }
  }

  .sortable {
    cursor: pointer !important;
    transition: color 0.25s ease-out;

    .sort-symbol {
      float: right;
      margin: 0 0 0 1px;
      font-size: $small-font-size;
    }
  }

  .sortable:hover {
    color: $button-hover-color;
  }
}
