@import '../variables';

.table-header {
  .small-table-caption {
    position: absolute;
    top: 5px;
    font-family: $helvetica-neue-light;
    font-size: $small-font-size;
  }

  .small-table-caption.first {
    transform: translateX(560px);
  }

  .small-table-caption.second {
    transform: translateX(690px);
  }

  .small-table-caption.third {
    transform: translateX(850px);
  }

  .teams-table {
    padding: 20px 0 0 0;

    td {
      font-weight: bold;
    }
  }
}
